:root{
  background-color: #FDB813;
}

h2{
    font-family: 'chery', sans-serif;
    font-size: min(3.5rem, 3.3vw);
    letter-spacing: 5px;
    margin: 0;
    color: #0f284c;
}

a{
    padding-block: 1px;
}
